
.load {
    position: sticky;
    flex: 1;
    width: 1300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

.data p {
    background-color: #333;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
  }

  .load_data {
    height: 295px; /* Đặt chiều cao cố định để bảng có thể cuộn */
    overflow-y: auto; /* Thanh cuộn dọc */
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
  }
  .load_data table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  .load_data table thead th {
    position: sticky;
    top: 0;
    z-index: 2; /* Đảm bảo th header không bị che khuất */
    background-color: #fff; /* Đặt màu nền để tránh bị trong suốt */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng bóng nếu cần */
  }

  .data {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
  }
  .load_data table th, td {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .btn-add {
    width: 60px;
    height: 40px;
    padding: 8px 15px;
    margin-left: 10px;
    background-color: #ffa500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-add:hover {
    background-color: #ff8c00;
  }

  .btn-delete {
    width: 80px;
    height: 40px;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .btn-delete {
    background-color: #ea9191;
  }
  
  .btn-delete:hover {
    background-color: #e60000;
  }
  .load_data input[type = 'checkbox'] {
    margin-left: 10px;
  }
  .search {
    padding: 10px;
    margin-left: 395px;
    width: 40%;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-search {
    width: 100px;
    height: 40px;
    padding: 8px 15px;
    background-color: #ccc;
    border: none;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-search:hover {
    background-color: #00bfff;
  }

  .filter {
    width: 80px;
    height: 40px;
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }


  .pagination {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 10px 10px 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #00bfff;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Items per page */
  .perpage {
    width: 70px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px;
  }
  .click {
    cursor: pointer;
  }
  
  .click:hover {
    text-decoration: underline;
  }
  